* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uppercase { 
    text-transform: uppercase;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: rgb(211, 7, 177);
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

h1 {
    margin: 30px 0;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: white;
}

section {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

section.top {
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
}

label {
    display: block;
}

.field {
    display: inline-block;
    margin: 0 20px;
}

input {
    margin-top: 10px;
}

.buttons{
    margin-top: 50px;
}

.row {
    height: 150px;
    background-color: yellow;
}

.bottom h4{
    text-align: left;
}

.col{
    float: left;
    margin: 0 10px;
    height: 100%;
    padding: 10px;
}

.col .top {
    font-weight: bold;
}

#o-nome.col{
    font-weight: bold;
    background-color: lightgrey;
}